.App {
  width: 100vw;
  height: 100%;
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: green;
  background-color: beige;
  font-size: calc(10px + 2vmin);
}

.App-header, footer {
  background-color: darkgreen;
  height: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: palegreen;
}

.playerIcon {
  max-width: 100px;
  max-height: 100px;
}

@media (max-width: 600px) {
  .playerIcon {
    max-width: 50px;
    max-height: 50px;
  }

}

.gameBoardTopper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  border: 3px solid fuchsia;
  margin: 1em 0em 1em 0em;
  padding: 10px;
  width: 60%;
  max-width: 510px;
  height: 250px;
}


.gameBoardTopper > :nth-child(2) {
  display: flex;
  flex-direction: column;
}

.playerWrapper {
  height: 80%;
  width: 80%;
  color: green;
  font-size: larger;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.insidePlayerWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

p {
  margin: 5px
}


.winnerWrapper {
  height: 80%;
  width: 80%;
  color: fuchsia;
  border: 3px dotted green; 
  font-size: larger;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}



.boxButton {
  width: 150px;
  height: 150px;
  background-color: palegreen;
  border: 3px solid green;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}


@media (max-width:600px) {
  .boxButton {
    width: 75px;
    height: 75px;
  }
}

.gameBoard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}


.gameBoardWrapper {
  width: 510px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

@media (max-width:600px) {
  .gameBoardWrapper {
    width: 285px;
  }
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

button {
  background-color: fuchsia;
  color: green;
  padding: 5px;
  margin: 10px;
  font-size: medium;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  border: 3px solid palegreen;
  border-radius: 15px;
}