.App {
  width: 100vw;
  height: 100%;
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: green;
  background-color: beige;
  font-size: calc(10px + 2vmin);
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: #282c34;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: palegreen;
}

/* .App-link {
  color: #61dafb;
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */



.playerIcon {
  max-width: 100px;
  max-height: 100px;
}

@media (max-width: 600px) {
  .playerIcon {
    max-width: 50px;
    max-height: 50px;
  }

}

.gameBoardTopper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  border: 3px solid fuchsia;
  margin: 1em 0em 1em 0em;
  padding: 10px;
  width: 60%;
  max-width: 510px;
  height: 250px;
}


.gameBoardTopper > :nth-child(2) {
  display: flex;
  flex-direction: column;
}

.playerWrapper {
  /* height: 150px;
  width: 250px; */
  height: 80%;
  width: 80%;
  /* background-color: fuchsia; */
  /* margin: 0.5em;
  padding:1em; */
  /* color: white; */
  /* display: flex;
  align-items: center;
  justify-content: center; */
  
  color: green;
  font-size: larger;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.insidePlayerWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

p {
  margin: 5px
}


.winnerWrapper {
  /* height: 150px;
  width: 250px; */
  height: 80%;
  width: 80%;
  /* margin: 10px;
  padding: 20px; */
  color: fuchsia;
  border: 3px dotted green; 
  font-size: larger;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}



.boxButton {
  width: 150px;
  height: 150px;
  background-color: palegreen;
  border: 3px solid green;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}


@media (max-width:600px) {
  .boxButton {
    width: 75px;
    height: 75px;
  }
}

.gameBoard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.gameBoardWrapper {
  width: 510px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

@media (max-width:600px) {
  .gameBoardWrapper {
    width: 285px;
  }
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* width: auto; */
  
}

button {
  background-color: fuchsia;
  color: green;
  padding: 5px;
  margin: 10px;
  font-size: medium;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  border: 3px solid palegreen;
  border-radius: 15px;
}